<section class="background-gray rounded-basic p-4 mb-3">
  <div class="d-flex align-items-center mb-3">
    <span class="title-medium" style="font-size: 30px">
     CONSULTA GENERAL DE SOLICITUDES
    </span>
    <button  class="btn button-new ms-4"  (click)="abrirModalPresolicitudesConsulta()">
      Consulta Presolicitudes
    </button>
  </div>
  <p class="subtitle-medium">
    Encuentre las solicitudes que previamente han impuesto un caso en Comisaría de Familia.
  </p>
  </section>
<form
  class="background-gray rounded-basic p-3 mb-3"
  [formGroup]="form"
  autocomplete="off"
  (submit)="coonsultarSolicitudesGeneralesFiltro()"
>
  <div class="row">
    <div class="col-lg-3">
      <div class="mb-3">
        <label for="numdoc" class="form-label">Número de documento</label>
        <input
          type="text"
          class="form-control"
          formControlName="numeroDocumento"
          placeholder="Número de documento"
          id="numdoc"
          maxlength="20"
        />
      </div>
    </div>

    <div class="col-lg-3">
      <div class="mb-3">
        <label for="codigo" class="form-label">Código solicitud</label>
        <input
          type="text"
          class="form-control"
          formControlName="codigoSolicitud"
          placeholder="Código solicitud"
          maxlength="40"
          id="codigo"
        />
      </div>
    </div>

    <div class="col-lg-3 d-flex align-items-center justify-content-end">
      <div class="mt-3">
        <button type="submit" class="btn btn-primary">
          <img
            src="assets/images/busqueda.svg"
            alt="serach"
            class="img-fluid me-2"
          />
          Buscar
        </button>
      </div>
    </div>
  </div>
</form>

<div class="background-light rounded-basic p-4 mb-4" *ngIf="formSubmitted">
  <div class="w-50" *ngIf="dataSource.data.length === 0">
    <app-no-data [mensaje]="mensajeSinReg"> </app-no-data>
  </div>

 
  <div [ngStyle]="{ display: dataSource.data.length > 0 ? 'block' : 'none' }">
    <mat-table [dataSource]="dataSource" id="table-private">
  
      <!-- Código Solicitud -->
      <ng-container matColumnDef="codigoSolicitud">
        <mat-header-cell *matHeaderCellDef> Código Solicitud </mat-header-cell>
        <mat-cell *matCellDef="let row">
          <span [title]="row.codigoSolicitud">
            {{ row.codigoSolicitud }}
          </span>
        </mat-cell>
      </ng-container>
  
      <!-- Nombre completo del ciudadano -->
      <ng-container matColumnDef="nombreCiudadano">
        <mat-header-cell *matHeaderCellDef> Ciudadano </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{
            (row.nombreCiudadano + ' ' + row.primerApellido + ' ' + row.segundoApellido).trim()
            | titlecase
          }}
        </mat-cell>
      </ng-container>
            <!-- Número de Documento -->
            <ng-container matColumnDef="tipoDocumento">
              <mat-header-cell *matHeaderCellDef>Tipo Documento</mat-header-cell>
              <mat-cell *matCellDef="let row">
                {{ row.nombreDocumento | titlecase }}
              </mat-cell>
            </ng-container>
  
      <!-- Número de Documento -->
      <ng-container matColumnDef="numeroDocumento">
        <mat-header-cell *matHeaderCellDef> No. Documento</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.numeroDocumento }}
        </mat-cell>
      </ng-container>
  
      <!-- Fecha de Solicitud -->
      <ng-container matColumnDef="fechaSolicitud">
        <mat-header-cell *matHeaderCellDef> Fecha Solicitud </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.fechaSolicitud | date: 'dd/MM/yyyy' }}
        </mat-cell>
      </ng-container>
  
      <!-- Estado de la Solicitud -->
      <ng-container matColumnDef="estadoSolicitud">
        <mat-header-cell *matHeaderCellDef> Estado </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.estadoSolicitud | uppercase }}
        </mat-cell>
      </ng-container>
  
      <!-- Proceso -->
      <ng-container matColumnDef="proceso">
        <mat-header-cell *matHeaderCellDef> Proceso </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.proceso | titlecase }}
        </mat-cell>
      </ng-container>  
            <!-- Perfil -->
      <ng-container matColumnDef="perfil">
        <mat-header-cell *matHeaderCellDef> Perfil </mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.perfil | uppercase }}
        </mat-cell>
      </ng-container> 
      <!-- Filas -->
      <mat-header-row *matHeaderRowDef="columnas"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnas"></mat-row>
    </mat-table>
  
    <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      showFirstLastButtons
      aria-label="Select page of request"
    >
    </mat-paginator>
  </div>
  
</div>