<div class="container-fluid bg-white">
    <div class="row">
        <div class="col-lg-6 box-logo">
            <img src="../../assets/images/LogoSICOFA.svg" 
                 alt="logo SICOFA" 
                 class="img-fluid logo-sicofa" />
            <img src="../../assets/images/logo_alcaldia_cali_b_n.png" 
                 alt="logo alcaldía" 
                 class="img-fluid logo-alcaldia" />
        </div>
        <div class="col-lg-6">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>