<div class="container-fluid bg-white">
  <div class="row">
    <div class="col-lg-6 box-logo text-center">
      <div class="mb-4">
        <img src="../../assets/images/sigfa_logo_nuevo_blanco.png" 
         alt="Logo SICOFA" 
         class="img-fluid logo-sicofa"
         style="border-radius: 16px;"
        />
      </div>
      <div class="d-flex justify-content-center align-items-center gap-4 mb-4 flex-wrap">
        <img src="../../assets/images/logoAuth.png" 
             alt="Logo Alcaldía" 
             class="img-fluid logo-alcaldia" 
             style="max-height: 250px;" />

        <img src="../../assets/images/logo-pnud-blanco.png" 
             alt="Logo PNUD" 
             class="img-fluid " 
             style="max-height: 250px;" />
      </div>
      <div>
        <p class="text-white text-center mb-0">
          "Este sistema ha sido desarrollado en colaboración con el Programa de las 
        </p>
        <p class="text-white text-center mb-0">
          Naciones Unidas para el Desarrollo – PNUD."
        </p>
      </div>
    </div>
    <div class="col-lg-6">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
