.header {
  color: #fff;
  display: flex;
  width: 100%;
  height: 50px;

  background: linear-gradient(
    90deg,
    #0092BE 0%,
    #00B6ED 100%
  );
  opacity: 1;

  .options {
    .comisaria {
      font-size: 14px;
      font-weight: bold;
    }
    .perfil {
      font-size: 13px;
    }
  }

  &.header-public {
    height: 102px;
    padding-left: 30px !important;
  }
}
