<footer class="footer-public py-1">
  <div class="container-fluid">
    <div class="row align-items-center g-0">
      <!-- Logo Alcaldía -->
      <div class="col-2 d-flex justify-content-center">
        <img src="assets/images/logoAuth.png" 
             class="img-fluid" 
             alt="logo" 
             width="130" 
             height="27" />
      </div>
      
      <!-- Info Principal -->
      <div class="col-9">
        <div class="row g-0">
          <div class="col-4 px-2">
            <p class="mb-0 small fw-bold">Alcaldía de Santiago de Cali</p>
            <p class="mb-0 small">Centro Administrativo Municipal (CAM)</p>
            <p class="mb-0 small">Avenida 2 Norte #10 - 70 | Santiago de Cali - Valle del Cauca</p>
            <p class="mb-0 small">NIT: 890399011-3</p>
          </div>
          <div class="col-4 px-2">
            <p class="mb-0 small fw-bold">Horario de Atención</p>
            <p class="mb-0 small">Lunes a viernes: 8:00 a.m. a 11:30 a.m. | 2:00 p.m. a 4:30 p.m.</p>
            <p class="mb-0 small fw-bold mt-2">Líneas de Atención</p>
            <p class="mb-0 small">Línea Nacional: 01 8000 222 195 | Líneas Locales: 195</p>
            <p class="mb-0 small">PBX: +57 6028879020</p>
          </div>
          <div class="col-4 px-2">
            <p class="mb-0 small fw-bold">Correos electrónicos</p>
            <p class="mb-0 small">General: contactenos&#64;cali.gov.co</p>
            <p class="mb-0 small">Facturas: facturaselectronicas&#64;cali.gov.co</p>
            <p class="mb-0 small">Notificaciones Judiciales:</p>
            <p class="mb-0 small">notificacionesjudiciales&#64;cali.gov.co</p>
            <p class="mb-0 small">Tutelas: notificacion.tutelas&#64;cali.gov.co</p>
          </div>
        </div>
      </div>

      <!-- Logo UNDP -->
      <div class="col-1 d-flex justify-content-center">
        <img src="assets/images/Logo_UNDP_Azul.svg" 
             class="img-fluid"
             alt="logo" 
             width="30" 
             height="60" />
      </div>
    </div>
  </div>
</footer>
